
.sidebar {
    width: 150px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 부모 메뉴 및 단일 메뉴 스타일 */
.menuTitle {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    color: #333;
    text-decoration: none;
}

.menuTitle:hover {
    color: #4CAF50; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius : 5px;
    cursor: pointer;
}

/* 서브 메뉴 컨테이너 */
.subList {
    list-style: none;
    padding-left: 15px; 
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}


/* 서브 메뉴 아이템 스타일 */
.subItem {
    display: block;
    font-size: 14px;
    padding: 8px 10px;
    color: #666;
    text-decoration: none;
}

.subItem:hover {
    background-color: #eee;
    border-radius: 4px;
}

/* 활성화된 상태 */
.active {
    color: #4CAF50;
    font-weight: bold;
}

/* 화살표 아이콘 스타일 */
.toggleIcon {
    font-size: 12px;         
    color: #999;             
    margin-left: 10px;       
    transition: color 0.2s;  /* 색상 변경 부드럽게 */
    transition: transform 0.3s ease; /* 회전 애니메이션 속도 설정 */
}

.menuTitle:hover .toggleIcon {
    color: #333;
}

.rotated {
    transform: rotate(180deg);       /* 180도 회전 */
}